<footer class="container-fluid">
    <div class="row hidden-xs">
        <div class="col-sm-2 col-sm-offset-1">
            <ul>
                <li>COLLECTIONS</li>
                <li><hr /></li>
                <li>
                    <a href="#/collection">The Blue Lights Collection</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <ul>
                <li>SECTIONS</li>
                <li><hr /></li>
                <li>
                    <a href="#/story">story</a>
                </li>
                <li>
                    <a href="#/lookbook">lookbook</a>
                </li>
                <li>
                    <a href="#/events">events</a>
                </li>
                <li>
                    <a href="#/journal">blog</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <ul>
                <li>CONTACT</li>
                <li><hr /></li>
                <li>
                    <a href="mailto:support@fashiopony.co.uk?subject=Customer Enquiry" target="_blank">customer enquiries</a>
                </li>
                <li>
                    <a href="mailto:support@fashiopony.co.uk?subject=Wholesale Enquiry" target="_blank">wholesale</a>
                </li>
                <li>
                    <a href="mailto:press@fashiopony.co.uk?subject=Press Enquiry" target="_blank">press enquiries</a>
                </li>
                <li>
                    <a href="mailto:support@fashiopony.co.uk?subject=Work with ISAAC AVA">collaborate</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <ia-social></ia-social>
        </div>
    </div>
    <div class="row visible-xs">
        <ia-social></ia-social>
    </div>
    <div class="row copyright">
        <div class="col-xs-offset-1">
            &copy; Lexington &amp; 48th Ltd 2017
        </div>
    </div>
</footer>