<ul class="social">
    <li>
        <a href="http://www.facebook.com/IsaacAvaDesigns" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/Isaac_Ava" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://www.pinterest.com/fashionpony/" target="_blank">
            <i class="fa fa-pinterest"></i>
        </a>
    </li>
    <li>
        <a href="https://youtu.be/FSSHQZjt0OM" target="_blank">
            <i class="fa fa-youtube"></i>
        </a>
    </li>
</ul>