/* global */

a {
	color: black;
}

h2 {
	color: #bbb;
}

.navbar-default {
	background-color: inherit;
	border: none;
	border-bottom: 2px solid #ddd;
}

.navbar-brand {
	padding: 0;
	float: none;
}

	.navbar-brand > img {
		height: 40px;
		width: 200px;
		margin: 5px;
	}

.nav-justified {
	margin-top: 10px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: inherit;
}

.nav-justified > li > a:hover,
.nav-justified > li > a:focus {
	background-color: transparent;
}


/* home */

#social a i {
	background: #000;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	padding-top: 15%;
	transition: all 0.2s ease-in-out;
}

	#social a i:hover {
		opacity: .7;
	}

p.ng-binding {
	text-align: center;
}

#maincontent .row {
	padding: 8px 15px;
}

#slides_control > div {
	height: 200px;
}

#slides_control img {
	margin: auto;
	width: 435px;
}

#slides_control {
	width: 435px;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

#home #sidebar ul {
	padding: 0;
	height: 50px;
	text-align: center;
}

#home #sidebar img {
	height: 60px;
}

#home #sidebar li {
	padding-bottom: 10px;
}

#home #sidebar ul li {
	list-style-type: none;
}

	#home #sidebar ul li a i {
		background: #000;
		color: #fff;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		font-size: 25px;
		text-align: center;
		padding-top: 15%;
		transition: all 0.2s ease-in-out;
	}

		#home #sidebar ul li a i:hover {
			opacity: .7;
		}

.thumbnail {
	border: none;
}

#product .btn-default {
	color: #fff;
	background-color: #000;
	border-color: #ccc;
}


/* apply to small, medium and large devices */
@media screen and (min-width:768px) {

	/* global */

	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 250px;
		text-align: center;
		padding-top: 5px;
	}

	.navbar > .container .navbar-brand-centered,
	.navbar > .container-fluid .navbar-brand-centered {
		margin-left: -125px;
	}

	.navbar {
		margin-bottom: 50px;
	}

	.nav img {
		height: 50px;
		width: 250px;
	}


	/* home */

	#showcasing {
		margin-left: -6px;
		margin-top: 50px;
		margin-bottom: 0px;
	}

	#brightonlogo {
		margin-left: -14px;
	}

	#liverpoollogo {
		margin-left: -22px;
	}


	.col-sm-5 {
		padding-left: 0;
		padding-right: 0;
	}

	a.btn.btn-default.btn-lg {
		margin-top: 20px;
	}

	#thumbnails img {
		height: 110px;
	}

	#thumbnailleft {
		margin-right: 0;
	}

	#thumbnailright {
		margin-left: 0;
	}
}


/* collection */
#thumbnails .col-sm-6,
#thumbnails .col-sm-2 {
	padding: 0;
}

#thumbnails div {
	height: 120px;
}

@media (min-width: 1200px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 992px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 90%;
		margin-left: 50px;
		margin-right: 50px;
	}
}


/* item */
.btn.disabled {
	cursor: default;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0;
}

h4 {
	margin-top: 50px;
}

#shopbutton {
	margin-top: 20px;
}


/* story */
.story img {
	height: 500px;
}


/* contact */

#contact a,
#story a {
	color: #337ab7;
	text-decoration: underline;
}

#contact > .row div{
	padding-top: 10px;
	padding-bottom: 10px;
}

#events p{
	text-align: center;
}
