footer
{
    background-color: black;
    color: white;
    min-height: 50px;
}

    footer ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    footer a
    {
        color: white;
    }

        footer a:hover, footer a:visited, footer a:link, footer a:active
        {
            color: white;
            text-decoration: none;
        }

.social
{
    text-align: center;
}

    .social li
    {
        display: inline-block;
        font-size: 3em;
        margin: 15px 25px;
    }

@media only screen and (min-width: 768px)
{
    footer
    {
        margin-top: 50px;
        min-height: 200px;
        padding-top: 40px;
    }

    .copyright
    {
        padding: 20px 15px;
    }

    .social
    {
        text-align: inherit;
    }

        .social li
        {
            display: block;
            font-size: 1.5em;
            margin: 0;
            padding-bottom: 8px;
        }
}
