/* global */

a
{
    color: black;
}

h2
{
    color: #bbb;
}

.large-img
{
    height: 500px;
}

/* home */

#social a i
{
    background: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 25px;
    height: 40px;
    padding-top: 15%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 40px;
}

    #social a i:hover
    {
        opacity: .7;
    }

p.ng-binding
{
    text-align: center;
}

#maincontent .row
{
    padding: 8px 15px;
}

#slides_control > div
{
    height: 200px;
}

#slides_control img
{
    margin: auto;
    width: 435px;
}

#slides_control
{
    width: 435px;
}

.carousel-control.left,
.carousel-control.right
{
    background-image: none;
}

#home #sidebar ul
{
    height: 50px;
    padding: 0;
    text-align: center;
}

#home #sidebar img
{
    height: 60px;
}

#home #sidebar li
{
    padding-bottom: 10px;
}

#home #sidebar ul li
{
    list-style-type: none;
}

    #home #sidebar ul li a i
    {
        background: #000;
        border-radius: 20px;
        color: #fff;
        font-size: 25px;
        height: 40px;
        padding-top: 15%;
        text-align: center;
        transition: all 0.2s ease-in-out;
        width: 40px;
    }

        #home #sidebar ul li a i:hover
        {
            opacity: .7;
        }

.thumbnail
{
    border: none;
}

#product .btn-default
{
    background-color: #000;
    border-color: #ccc;
    color: #fff;
}


/* apply to small, medium and large devices */

@media screen and (min-width: 768px)
{
    /* global */

    .navbar-brand-centered
    {
        display: block;
        left: 50%;
        padding-top: 5px;
        position: absolute;
        text-align: center;
        width: 250px;
    }

    .navbar > .container .navbar-brand-centered,
    .navbar > .container-fluid .navbar-brand-centered
    {
        margin-left: -125px;
    }

    .navbar
    {
        margin-bottom: 50px;
    }

    .nav img
    {
        height: 50px;
        width: 250px;
    }


    /* home */

    #showcasing
    {
        margin-bottom: 0px;
        margin-left: -6px;
        margin-top: 50px;
    }

    #brightonlogo
    {
        margin-left: -14px;
    }

    #liverpoollogo
    {
        margin-left: -22px;
    }


    .col-sm-5
    {
        padding-left: 0;
        padding-right: 0;
    }

    a.btn.btn-default.btn-lg
    {
        margin-top: 20px;
    }

    #thumbnails img
    {
        height: 110px;
    }

    #thumbnailleft
    {
        margin-right: 0;
    }

    #thumbnailright
    {
        margin-left: 0;
    }
}


/* collection */

#thumbnails .col-sm-6,
#thumbnails .col-sm-2
{
    padding: 0;
}

#thumbnails div
{
    height: 120px;
}

@media (min-width: 1200px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 992px)
{
    .container
    {
        width: 90%;
    }
}

@media (min-width: 768px)
{
    .container
    {
        margin-left: 50px;
        margin-right: 50px;
        width: 90%;
    }
}


/* contact */

#contact a,
#story a
{
    color: #337ab7;
    text-decoration: underline;
}

#contact > .row div
{
    padding-bottom: 10px;
    padding-top: 10px;
}

#events p
{
    text-align: center;
}
