<div class="container">
	<div class="row">
		<section id="maincontent">
			<div class="col-sm-10">
				<div ng-repeat="product in vm.collection.products">
					<div class="col-sm-3">
						<a href="#/collection/{{product.id}}" class="thumbnail">
							<img ng-src="{{product.src}}" alt="{{product.alt}}"/>
							<p>{{product.name}}</p>
						</a>
					</div>
					<div class="clearfix hidden-xs" ng-if="product.id % 4 == 0"></div>
				</div>
			</div>
		</section>
		<section id="thumbnails" class="hidden-xs">
			<div class="col-sm-2">
				<div class="col-sm-6" ng-repeat="thumbnail in vm.collection.thumbnails">
					<a href="#/collection/{{thumbnail.id}}" class="thumbnail">
						<img ng-src="{{thumbnail.src}}" alt="{{thumbnail.alt}}" ng-class="$index % 2 == 0 && 'thumbnailleft' || 'thumbnailright'">
					</a>
				</div>
			</div>
		</section>
	</div>
</div>